body {
	background: #F1F1F1 !important;
}

.center {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

canvas {
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

.text-center {
	text-align: center;
}